$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: deeppink;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.menu {
  margin-bottom: 10px;

  output {
    display: inline-block;
  }

  input[type="date"] {
    width: 140px;
  }
  div {
    display: inline-block;
    margin-right: 10px;
  }

  .date {
    width: 100px;
  }

  .calendar {
    cursor: pointer;
  }
}

.filter {
  input[type="checkbox"],
  .capacity.min {
    margin-left: 20px;
  }

  input[type="number"] {
    width: 40px;
  }
}

.cta {
  margin-top: 10px;

  button {
    color: green;
    border: solid 1px green;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Room Styles */
.room {
  stroke: #000000;
  stroke-width: 2;
  stroke-miterlimit: 10;
}

.available {
  fill: "#EDE6CE";
}

.unavailable {
  fill: "#F15A22";
}

.details {
  list-style-type: none;
  padding: 0;
}

.details li span {
  margin-left: 5px;
}

/* Redesign */
.banner
{
  text-align: center;
}

.control
{
  padding-left: 20px;
  float: left;
}

.timePicker, .datePicker, .go
{
  display: inline-block;
}

.datePicker
{
  width: 20%;
}

#gottaHave
{
  height: 50px;
}

#when
{
  height: 50px;
}
