<form>
    <h3>When</h3>
    <section id="when">
        <div class="datePicker control">
            <p class="input-group ">
                <input type="text" ng-model="date" class="form-control" datepicker-popup="{{format}}" is-open="opened"
                       min-date="minDate" max-date="'2016-06-22'" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="dropdown timePicker control">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-expanded="false">
                Start Time
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('8:00 am')">8:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('8:30 am')">8:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('9:00 am')">9:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('9:30 am')">9:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('10:00 am')">10:00
                    am</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('10:30 am')">10:30
                    am</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('11:00 am')">11:00
                    am</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('11:30 am')">11:30
                    am</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('12:00 pm')">12:00
                    pm</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('12:30 pm')">12:30
                    pm</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('1:00 pm')">1:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('1:30 pm')">1:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('2:00 pm')">2:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('2:30 pm')">2:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('3:00 pm')">3:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('3:30 pm')">3:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('4:00 pm')">4:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('4:30 pm')">4:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setStartTime('5:00 pm')">5:00 pm</a>
                </li>
            </ul>
        </div>
        <div class="dropdown timePicker control">
            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-expanded="false">
                End Time
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('8:00 am')">8:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('8:30 am')">8:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('9:00 am')">9:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('9:30 am')">9:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('10:00 am')">10:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('10:30 am')">10:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('11:00 am')">11:00 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('11:30 am')">11:30 am</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('12:00 pm')">12:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('12:30 pm')">12:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('1:00 pm')">1:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('1:30 pm')">1:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('2:00 pm')">2:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('2:30 pm')">2:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('3:00 pm')">3:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('3:30 pm')">3:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('4:00 pm')">4:00 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('4:30 pm')">4:30 pm</a>
                </li>
                <li role="presentation"><a role="menuitem" tabindex="-1" ng-click="setEndTime('5:00 pm')">5:00 pm</a>
                </li>
            </ul>
        </div>
        <div class="go control" style="float: right; margin-right: 200px; margin-top:30px;">
            <button type="button" class="btn btn-info btn-lg" ng-click="findRooms()" style="font-size: xx-large">
                Search
            </button>
        </div>
    </section>
    <h3>Gotta Have</h3>
    <section id="gottaHave">
        <div class="control">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-success" aria-label="Left Align"><span
                            class="glyphicon glyphicon-user" aria-hidden="true"
                            ng-click="setCapacity(1,4)">&nbsp;1-4</span>
                    </button>
                    <button type="button" class="btn btn-success" aria-label="Center Align"><span
                            class="glyphicon glyphicon-user" aria-hidden="true"
                            ng-click="setCapacity(5,8)">&nbsp;5-8</span>
                    </button>
                    <button type="button" class="btn btn-success" aria-label="Right Align"><span
                            class="glyphicon glyphicon-user" aria-hidden="true"
                            ng-click="setCapacity(9,20)">&nbsp;9-20</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="input-group control">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-model="hasWhiteBoard">
                </span>
                <label class="form-control glyphicon glyphicon glyphicon-pencil" aria-label="...">&nbsp;Whiteboard</label>
            </div>
        </div>
        <div class="input-group control">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" aria-label="..." ng-model="hasVideo">
                </span>
                <label class="form-control glyphicon glyphicon-facetime-video" aria-label="...">&nbsp;Video</label>
            </div>
        </div>
    </section>
</form>