<div class="menu">
    <div>Date: <input type="date"/></div>
    <div>Start:
        <select>
            <option value="800">8:00 am</option>
            <option value="830">8:30 am</option>
            <option value="">9:00 am</option>
            <option value="">9:30 am</option>
            <option value="">10:00 am</option>
            <option value="">10:30 am</option>
            <option value="">11:00 am</option>
            <option value="">11:30 am</option>
            <option value="">12:00 pm</option>
            <option value="">12:30 pm</option>
            <option value="">1:00 pm</option>
            <option value="">1:30 pm</option>
            <option value="">2:00 pm</option>
            <option value="">2:30 pm</option>
            <option value="">3:00 pm</option>
            <option value="">3:30 pm</option>
            <option value="">4:00 pm</option>
            <option value="">4:30 pm</option>
            <option value="">5:00 pm</option>
            <option value="">5:30 pm</option>
            <option value="">6:00 pm</option>
            <option value="">6:30 pm</option>
            <option value="">7:00 pm</option>
            <option value="">7:30 pm</option>
            <option value="">8:00 pm</option>
            <option value="">5:30 pm</option>
        </select>
    </div>
    <div>End:
        <select>
            <option value="800">8:00 am</option>
            <option value="830">8:30 am</option>
            <option value="">9:00 am</option>
            <option value="">9:30 am</option>
            <option value="">10:00 am</option>
            <option value="">10:30 am</option>
            <option value="">11:00 am</option>
            <option value="">11:30 am</option>
            <option value="">12:00 pm</option>
            <option value="">12:30 pm</option>
            <option value="">1:00 pm</option>
            <option value="">1:30 pm</option>
            <option value="">2:00 pm</option>
            <option value="">2:30 pm</option>
            <option value="">3:00 pm</option>
            <option value="">3:30 pm</option>
            <option value="">4:00 pm</option>
            <option value="">4:30 pm</option>
            <option value="">5:00 pm</option>
            <option value="">5:30 pm</option>
            <option value="">6:00 pm</option>
            <option value="">6:30 pm</option>
            <option value="">7:00 pm</option>
            <option value="">7:30 pm</option>
            <option value="">8:00 pm</option>
            <option value="">5:30 pm</option>
        </select>
    </div>
</div>
<div class="filter">
    <input type="checkbox"/> Video
    <input type="checkbox"/> White Board
    <input class="capacity" type="number" value="1"/> to <input type="number" value="2"/> people
</div>